<div class="logo">
    <a href="http://www.infosistemas.com.br/" style="color: #f08211;" class="slider-text">
        <div class="logo-img">
            <img src="/assets/img/logo.png" />
        </div>
        Locavia
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>